<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LapTracker</title>
</head>
<body>
    <nav>
        <h1>LapTracker</h1>
        <a href="/login">Log In</a>
    </nav>
    <div>
        <h1>Welcome to LapTracker, your personal racing paddock</h1>
        <p>LapTracker allows you to keep track of your laptimes, cars, and notes. Sign up to begin.</p>
    </div>
    <a href="/preview">Preview</a>
    <a href="/signup">Sign Up</a>
</body>
</html>