<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>LapTracker</title>
</head>
<body>
    <nav>
        <ul>
            <li id="appname">LapTracker</li>
            <li>
                <button id="login">
                    <a href="/login">Log In</a>
                </button>
            </li>
        </ul>
    </nav>
    <div id="homeIntro">
        <h2>Welcome to LapTracker, your personal racing paddock</h2>
        <p>LapTracker allows you to keep track of your lap times, cars, and notes. Sign up to begin.</p>
    </div>
    <button id="previewButton">
        <a href="/preview">Preview</a>
    </button>
    <button id="signupButton">
        <a href="/signup">Sign Up</a>
    </button>
</body>
</html>