<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Preview</title>
</head>
<body>
    <nav>
        <ul>
            <li id="appname">LapTracker</li>
            <li>
                <button id="home">
                    <a href="/">Home</a>
                </button>
            </li>
        </ul>
    </nav>
    <div id="previewtext">
        <h2>Preview page</h2>
        <p>After you sign up, build your garage with your cars. Then add your tracks, best lap, car used, etc...</p>
    </div>
    <div id="preview">
        <img id="previewimg" src="https://res.cloudinary.com/dexw9xsmk/image/upload/v1675539334/TracksPreview.png" alt="TracksPreview">
        <img id="previewimg" src="https://res.cloudinary.com/dexw9xsmk/image/upload/v1675539339/CarsPreview.png" alt="CarsPreview">
    </div>
    <button id="signup">
        <a href="/signup">Sign Up</a>
    </button>
</body>
</html>