<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Preview</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <h1>Preview page</h1>
    <p>After you sign up, build your garage with you cars</p>
    <div>
        <img/>
    </div>
</body>
</html>