<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sign Up</title>
</head>
<body>
    <nav>
        <ul>
            <li id="appname">LapTracker</li>
            <li>
                <button id="login">
                    <a href="/login">Log In</a>
                </button>
            </li>
            <li>
                <button id="home">
                    <a href="/">Home</a>
                </button>
            </li>
        </ul>
    </nav>
    <h1>Sign Up</h1>
    <% if(error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form action="/signup" method="POST" autocomplete="off">
        <label>
            Username:
            <input type="text" name="userName" required>
        </label>
        <label>
            Password:
            <input type="password" name="password" required>
        </label>
        <label>
            Confirm Password:
            <input type="password" name="passwordConf" required>
        </label>
        <input id="signup" type="submit" value="Sign Up">
    </form>
</body>
</html>